# Welcome to this Kernel


# Upvote if you found it useful

<a id='table_of_contents'></a>
# Table of contents

[1. How to create a series from a list, numpy array and dict?](#q1)

[2. How to combine many series to form a dataframe?](#q2)

[3. How to get the items of series A not present in series B?](#q3)

[4. How to get the items not common to both series A and series B?](#q4)

[5. How to get useful infos](#q5)

[6. How to get frequency counts of unique items of a series?](#q6)

[7. How to convert a numpy array to a dataframe of given shape? (L1)](#q7)

[8. How to find the positions of numbers that are multiples of 3 from a series?](#q8)

[9. How to extract items at given positions from a series?](#q9)

[10. How to stack two series vertically and horizontally ?](#q10)

[11. How to get the positions of items of series A in another series B?](#q11)

[12. How to compute difference of differences between consequtive numbers of a series?](#q12)

[13. How to convert a series of date-strings to a timeseries?](#q13)

[14. How to filter words that contain atleast 2 vowels from a series?](#q14)

[15. How to replace missing spaces in a string with the least frequent character?](#q15)

[16. How to change column values when importing csv to a dataframe?](#q16)

[17. How to import only specified columns from a csv file?](#q17)

[18. How to check if a dataframe has any missing values?](#q18)

[19. How to replace missing values of multiple numeric columns with the mean?](#q19)

[20. How to change the order of columns of a dataframe?](#q20)

[21. How to filter every nth row in a dataframe?](#q21)

[22. How to get the last n rows of a dataframe with row sum > 100?](#q22)

[23. How to find and cap outliers from a series or dataframe column?](#q23)

[24. How to reverse the rows of a dataframe?](#q24)

In [726]:
# Allow several prints in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

# Pandas exercise

<a id = 'q1'></a>

**1. How to create a series from a list, numpy array and dict?**

Create a pandas series from each of the items below: a list, numpy and a dictionary

[Go back to the table of contents](#table_of_contents)

In [727]:
# Input
import numpy as np
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

In [728]:
series1 = pd.Series(a_list)
print(series1)
series2 = pd.Series(numpy_array)
print(series2)
series3 = pd.Series(dictionary)
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
A    0
B    1
C    2
D    3
E    5
dtype: int64

<a id = 'q2'></a>
**2. How to combine many series to form a dataframe?**

Combine ser1 and ser2 to form a dataframe.

[Go back to the table of contents](#table_of_contents)

In [729]:
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [730]:
# ser1 and ser2
ser_df = pd.DataFrame({"letters":ser1, "index":ser2})
ser_df.head(6)

  letters  index
0       a      0
1       b      1
2       c      2
3       e      3
4       d      4
5       f      5

<a id = 'q3'></a>
**3. How to get the items of series A not present in series B?**

Get all items of ser1 and ser2 not common to both.

[Go back to the table of contents](#table_of_contents)

In [731]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [732]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

<a id = 'q4'></a>
**4. How to get the items not common to both series A and series B?**

Get all items of ser1 and ser2 not common to both.

[Go back to the table of contents](#table_of_contents)

In [733]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [734]:
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]
                          
a_not_b.append(b_not_a, ignore_index = True)

C:\Users\Аян\AppData\Local\Temp\ipykernel_9868\3036602585.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a_not_b.append(b_not_a, ignore_index = True)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

<a id = 'q5'></a>
**5. How to get useful infos**

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

[Go back to the table of contents](#table_of_contents)

In [735]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [736]:
# using pandas
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

<a id = 'q6'></a>
**6. How to get frequency counts of unique items of a series?**

Calculate the frequency counts of each unique value ser.

[Go back to the table of contents](#table_of_contents)

In [737]:
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [738]:
ser.value_counts()

g    9
c    6
f    4
d    4
b    3
a    2
h    2
dtype: int64

<a id = 'q7'></a>
**7. How to convert a numpy array to a dataframe of given shape? (L1)**

Reshape the series ser into a dataframe with 7 rows and 5 columns

[Go back to the table of contents](#table_of_contents)

In [739]:
# input
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     9
1     2
2     2
3     3
4     5
5     2
6     5
7     8
8     9
9     8
10    9
11    1
12    3
13    2
14    3
15    3
16    4
17    8
18    4
19    6
20    1
21    6
22    7
23    7
24    1
25    5
26    9
27    9
28    2
29    9
30    8
31    5
32    7
33    4
34    9
dtype: int32

In [740]:
# reshape(7, 5)
pd.DataFrame(np.array(ser).reshape(7, 5))

   0  1  2  3  4
0  9  2  2  3  5
1  2  5  8  9  8
2  9  1  3  2  3
3  3  4  8  4  6
4  1  6  7  7  1
5  5  9  9  2  9
6  8  5  7  4  9

<a id = 'q8'></a>
**8. How to find the positions of numbers that are multiples of 3 from a series?**

Find the positions of numbers that are multiples of 3 from ser.

[Go back to the table of contents](#table_of_contents)

In [741]:
# input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

RandomState(MT19937) at 0x237B7648440

0    3
1    1
2    4
3    3
4    4
5    2
6    3
7    1
8    4
9    1
dtype: int32

In [742]:
ser.where(lambda x: x%3 == 0).dropna()

0    3.0
3    3.0
6    3.0
dtype: float64

<a id = 'q9'></a>
**9. How to extract items at given positions from a series**

From ser, extract the items at positions in list pos.

[Go back to the table of contents](#table_of_contents)

In [743]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [744]:
# using loc
ser.loc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

<a id = 'q10'></a>

**10. How to stack two series vertically and horizontally ?**

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

[Go back to the table of contents](#table_of_contents)

In [745]:
# input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [746]:
ser1.append(ser2)
df = pd.concat([ser1, ser2], axis = 0)
df = pd.concat([ser1, ser2], axis = 1)

C:\Users\Аян\AppData\Local\Temp\ipykernel_9868\2200541727.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

<a id = 'q11'></a>
**11. How to get the positions of items of series A in another series B?**

Get the positions of items of ser2 in ser1 as a list.

[Go back to the table of contents](#table_of_contents)

In [766]:
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [767]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

<a id = 'q12'></a>
**12. How to compute difference of differences between consequtive numbers of a series?**

Difference of differences between the consequtive numbers of ser.

[Go back to the table of contents](#table_of_contents)

In [749]:
# input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output
# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [750]:
ser.diff(periods = 1).tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

<a id = 'q13'></a>

**13. How to convert a series of date-strings to a timeseries?**

[Go back to the table of contents](#table_of_contents)

In [751]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

'\nDesired Output\n\n0   2010-01-01 00:00:00\n1   2011-02-02 00:00:00\n2   2012-03-03 00:00:00\n3   2013-04-04 00:00:00\n4   2014-05-05 00:00:00\n5   2015-06-06 12:20:00\n'

In [752]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

<a id = 'q14'></a>

**14. How to filter words that contain atleast 2 vowels from a series?**

From ser, extract words that contain atleast 2 vowels.

[Go back to the table of contents](#table_of_contents)

In [753]:
# input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

'''
Desired Output


0     Apple
1    Orange
4     Money
dtype: object
'''

'\nDesired Output\n\n\n0     Apple\n1    Orange\n4     Money\ndtype: object\n'

In [754]:
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

<a id = 'q15'></a>

**15. How to replace missing spaces in a string with the least frequent character?**

Replace the spaces in my_str with the least frequent character.

[Go back to the table of contents](#table_of_contents)

In [755]:
# input
my_str = 'dbc deb abed ggade'

'''
Desired Output

'dbccdebcabedcggade'  # least frequent is 'c'
'''

"\nDesired Output\n\n'dbccdebcabedcggade'  # least frequent is 'c'\n"

In [756]:
from collections import Counter
my_str_ = my_str
Counter_ = Counter(list(my_str_.replace(" ", "")))
Counter_
minimum = min(Counter_, key = Counter_.get)

print(my_str.replace(" ", minimum))

Counter({'d': 4, 'b': 3, 'c': 1, 'e': 3, 'a': 2, 'g': 2})

dbccdebcabedcggade

<a id = 'q16'></a>

**16. How to change column values when importing csv to a dataframe?**

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

[Go back to the table of contents](#table_of_contents)

In [757]:
# input
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [758]:
ser = pd.Series(list(my_str.replace(" ", "")))
ser.value_counts()
minimum = list(ser.value_counts().index)[-1]
minimum
print(my_str.replace(" ", minimum))

d    4
b    3
e    3
a    2
g    2
c    1
dtype: int64

'c'

dbccdebcabedcggade

<a id = 'q17'></a>

**17. How to import only specified columns from a csv file?**

[Go back to the table of contents](#table_of_contents)

In [759]:
# input
        
# code that generates the housing_preprocessed.csv file
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
with open("/kaggle/input/boston-house-prices/housing.csv") as f:
    data = f.read()
    nth_rows = []
    for i, rows in enumerate(data.split("\n")):
        nth_rows.append(rows)

data_ = [nth_rows[i].split() for i in range(len(nth_rows))]

df = pd.DataFrame(data_, columns=names)
df.to_csv("housing_preprocessed.csv")
del df

# use the /kaggle/input/boston-house-prices/housing_preprocessed.csv file
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/boston-house-prices/housing.csv'

<a id = 'q18'></a>

**18. How to check if a dataframe has any missing values?**

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df

In [764]:
df.isnull().values.any()
print()

False

<a id = 'q19'></a>

**19. How to replace missing values of multiple numeric columns with the mean?**

Replace missing values in Luggage.room columns with their respective mean.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")

In [ ]:
beg_null = df.isnull().sum().sum()
print(beg_null)
# notice that we have filtering the columns  as a list.
df[["Luggage.room"]] = df[["Luggage.room"]].apply(lambda x: x.fillna(x.mean()))
end_null = df.isnull().sum().sum()
print(end_null)

print("We have got rid of {} null values, filling them with the mean.".format(beg_null - end_null))

<a id = 'q20'></a>

**20. How to change the order of columns of a dataframe?**

Actually 3 questions.

1. In df, interchange columns 'a' and 'c'.

2. Create a generic function to interchange two columns, without hardcoding column names.

3. Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

[Go back to the table of contents](#table_of_contents)

In [763]:
# input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

<a id = 'q21'></a>

**21. How to filter every nth row in a dataframe?**

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df


<a id = 'q22'></a>

**22. How to get the last n rows of a dataframe with row sum > 100?**

Get the last two rows of df whose row sum is greater than 100.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df1 = df.copy(deep = True)

In [762]:
rowsums = df1.apply(np.sum, axis=1)
last_two_rows = df1.iloc[np.where(rowsums > 100)[0][-2:], :]
last_two_rows

     0   1   2   3
13  38  32  21  10
14  12  33  27  38


<a id = 'q23'></a>

**23. How to find and cap outliers from a series or dataframe column?**

Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(np.logspace(-2, 2, 30))
ser1 = ser.copy(deep = True)
ser2 = ser.copy(deep = True)

In [761]:
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser2, .05, .95)
ser2
capped_ser

0.05 %ile:  1.3 | 0.95 %ile:  12.549999999999999

0     1.30
1     3.00
2    10.00
3    12.55
dtype: float64

0     1.30
1     3.00
2    10.00
3    12.55
dtype: float64

****
<a id = 'q24'></a>

**24. How to reverse the rows of a dataframe?**

Reverse all the rows of dataframe df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [760]:
df
df.iloc[df.index.to_list()[::-1]]

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

   0  1
4  4  e
3  3  d
2  2  c
1  1  b
0  0  a

### The End